@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SubjectRegular";
  src: url("./fonts/subject.woff2") format("woff2");
}

body {
  font-family: "SubjectRegular", sans-serif;
}
